<div id="documents-section" class="documents-section">
  <div class="documents-header">
    <img  src="/static/images/portfolio_asset_details/Star%205.svg" alt="Documents" class="documents-icon" width="16" height="16" />
    <h3 class="documents-heading">Documents</h3>
  </div>
  <div class="documents-tabs">
    <button class="documents-tab active" id="tab-smart-contract"><span class="tab-text">Smart Contract</span></button>
    <button class="documents-tab" id="tab-due-diligence"><span class="tab-text">Due Diligence</span></button>
    <button class="documents-tab" id="tab-property"><span class="tab-text">Property</span></button>
  </div>
  <div class="documents-list">
    <div class="document-item">
      <div class="document-info">
        <div class="document-icon"><img  src="/static/images/portfolio_asset_details/File%20type%20icon.svg" alt="Document" width="24" height="24" /></div>
        <span class="document-name">Smart Contract</span>
      </div>
      <button class="download-button"><img  src="/static/images/portfolio_asset_details/download-cloud-02.svg" alt="Download" width="24" height="24" /></button>
    </div>
    <div class="document-item">
      <div class="document-info">
        <div class="document-icon"><img  src="/static/images/portfolio_asset_details/File%20type%20icon.svg" alt="Document" width="24" height="24" /></div>
        <span class="document-name">Token Registration</span>
      </div>
      <button class="download-button"><img  src="/static/images/portfolio_asset_details/download-cloud-02.svg" alt="Download" width="24" height="24" /></button>
    </div>
    <div class="document-item">
      <div class="document-info">
        <div class="document-icon"><img  src="/static/images/portfolio_asset_details/File%20type%20icon.svg" alt="Document" width="24" height="24" /></div>
        <span class="document-name">Articles_of_Organization_LLC.pdf</span>
      </div>
      <button class="download-button"><img  src="/static/images/portfolio_asset_details/download-cloud-02.svg" alt="Download" width="24" height="24" /></button>
    </div>
  </div>
</div>
