<!-- Leasing Strategy Section -->
<div id="leasing-strategy-section">
  <div class="leasing-header">
    <img  src="/static/images/portfolio_asset_details/key-01.svg" alt="Leasing Strategy" class="key-icon" width="24" height="24" />
    <h2>Leasing Strategy</h2>
  </div>
  <div class="leasing-content-box">
    <div class="leasing-item">
      <div class="leasing-item-header">
        <h3>Reputable building and community</h3>
      </div>
      <p>Located in a premium community with high-demand from home-owners and investors alike for its desirability and stature.</p>
    </div>
    <div class="leasing-divider"><div class="divider-line"></div></div>
    <div class="leasing-item">
      <div class="leasing-item-header"><h3>High-end amenities</h3></div>
      <p>Luxurious amenities enhance lifestyle and justify premium rents, attracting high-end tenants.</p>
    </div>
    <div class="leasing-divider"><div class="divider-line"></div></div>
    <div class="leasing-item">
      <div class="leasing-item-header"><h3>Premium location benefits</h3></div>
      <p>Located in a premium community with high-demand from home-owners and investors alike for its desirability and stature.</p>
    </div>
  </div>
</div>
